.individual_doctor_basic_design
{
	border:1px solid black;
	margin:5px;
	height:140px 
}
.individual_doctor
{
	border:1px solid black;
	margin:5px;
	height:140px
}
.individual_doctor_image_view
{
	padding: 5px;

}
.
.bottom_panel
{
	margin-top:10px;
	height:50px;
}
.bottom_panel_reviews
{
	margin-top:15px;
	margin-left:0px
}
.bottom_panel_timings
{
	height:50px;
	background:url("resources/images/icons/timings.png");
	background-repeat:no-repeat
}
.bottom_panel_call
{
	height:50px;
	background:url("resources/images/icons/dial.png");
	background-repeat:no-repeat
}